.Trendy .child{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
/* eee */
flex-wrap: wrap;
  
    


}
.Trendy{
    margin-top: 30px;
    margin-bottom: 50px;
}
.Trendy h1, h3{
    text-align: center;

}
.Trendy h1{
font-family: Poppins;
font-size:3.125rem;
font-weight: 700;
line-height: 71.04px;
color: #1E1D4C;
margin-bottom: 30px;
}
.Trendy h3{
font-family: Poppins;
font-size: 18px;
font-weight: 700;
color: #DF6951;

}